<script>
  import { Icon, IconTrash, Button } from "figma-plugin-ds-svelte";

  import { createEventDispatcher, onDestroy, afterUpdate } from "svelte";
  const dispatch = createEventDispatcher();

  export let name = "";

  function removeItem() {
    dispatch("remove");
  }
</script>

<li>
  <span>{name}</span>
  <Button variant="tertiary" on:click={removeItem}>
    <Icon iconName={IconTrash} />
  </Button>
</li>

<style>
  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  span {
    flex-grow: 1;
  }
</style>
